body {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.todo-list-container {
    background-color: rgb(0, 205, 205);
    border: 3px solid rgba(35, 151, 151, 0.743);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.task-input input[type="text"] {
    border: 2px solid rgb(194, 194, 194);
    height: 50px;
    border-radius: 10px;
    margin-right: 5px;
    width: 250px;
    font-size: 1.5rem;

}

.list {
    list-style: none;
    text-align: left;
    padding: 0;
}

.list li {
    display: flex;
    background-color: rgb(194, 239, 255);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
    transition: background-color 0.1s ease;
}

.list li:hover{
    background-color: rgb(232, 249, 255);
}

button {
    margin: 5px;
    border: none;
    border-radius: 15px;
    transition: background-color 0.1s ease;
    font-size: 1rem;
    width: 40px;
    height: 30px;
}
.add-btn {
    background-color: rgba(4, 176, 4, 0.864);
    /* padding: 6px; */
    color: white;
    /* font-size: 1.25rem; */
}

.add-btn:hover{
    background-color:  rgba(99, 241, 99, 0.991);
}

.del-btn{
    background-color: rgba(215, 0, 0, 0.867);
    color: white;
}

.del-btn:hover{
    background-color:rgba(255, 30, 30, 0.867);
}

.move-btn{
    background-color:rgb(194, 239, 255);
    border-radius: 50%;
    padding: none;
}

.list li span {
    flex: 1;
    margin-right: 70px;
    border: none;
    font-size: 1.5rem;
}